<nav id="mainNavbar" class="navbar navbar-dark bg-dark navbar-expand-md py-0 fixed-top">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">YelpCamp</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="/" class="nav-link">HOME</a>
            </li>
            <li class="nav-item ml-4">
              <a href="/campgrounds" class="nav-link {{CG}}">View Campgrounds</a>
            </li>
            <li class="nav-item ml-4">
              <a href="/campgrounds/new" class="nav-link {{newCG}}">Add Campground</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          {{#if currentUser}}
            <li class="nav-item mr-4">
              <a href="#" class="nav-link">Signed In As <strong>{{currentUser.username}}</strong></a>
            </li>
            <li class="nav-item mr-4">
              <a href="/users/{{currentUser.id}}" class="nav-link {{profile}}">Profile</a>
            </li>
            {{#if currentUser.isAdmin}}
              <li class="nav-item mr-4">
                <a href="/admins/menu" class="nav-link {{admin}}">Admin Page</a>
              </li>
            {{/if}}
            <li class="nav-item">
              <a href="/logout" class="nav-link {{logout}}">Logout</a>
            </li> 
          {{else}}              
            <li class="nav-item">
              <a href="/login" class="nav-link {{login}}">Login</a>
            </li>  
            <li class="nav-item">
              <a href="/register" class="nav-link {{register}}">Sign Up</a>
            </li> 
          {{/if}}              
        </ul>
    </div>
  </div>
</nav>
<br/><br/>

<div class="container">
  <!--  Handle a flash error -->
  {{#if error}}
    <div class="container alert alert-danger" role="alert">
        {{error}}
    </div>
  {{else}}
    <div style="[display:none]">
    </div>
  {{/if}}

  <!-- Handle a flash success -->
  {{#if success}}
    <div class="container alert alert-success" role="alert">
        {{success}}
    </div>
  {{else}}
    <div style="[display:none]">
    </div>
  {{/if}}
</div>
<div class="container">