<h1>{{campground.name}}</h1>>

<img src="{{campground.image}}" alt="">

<p>{{campground.description}}</p>

{{#each campground.comments}}
    <p>
        <strong>{{this.author}}</strong> - {{this.text}}</p>
{{/each}}