{{>header}}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="display-4">Yelp Camp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>

            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top img-fluid" src="{{campground.image}}" alt="{{campground.name}}">
                <div class="caption px-2 py-2">
                    <h4 class="float-right">$9.00/night</h4>
                    <h4 class="card-title"><a>{{campground.name}}</a></h4>
                    <p>{{campground.description}}</p>
                    <p><em>Submitted by {{campground.author.username}}</em></p>
                    {{#ifCond req.user._id}}
                        <a class="btn btn-warning" href="/campgrounds/{{campground._id}}/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/{{campground._id}}?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    {{/ifCond}}
                </div>
            </div>
            <div class="card px-2 py-2 mt-4 card-footer text-muted">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/{{campground._id}}/comments/new">Add New Comment</a>
                </div>
                {{!-- <div class="mx-4">
                    <hr>
                </div> --}}
                {{#each campground.comments}}
                    <div class="mx-4">
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ml-3">
                            <strong>{{this.author.username}}</strong>
                            <span class="float-right mr-4">10 days ago</span>
                            <p>{{this.text}}</p>

                            {{#ifComm this.author.id}}
                                <a class="btn btn-xs btn-warning" href="/campgrounds/{{cgID this.id}}/comments/{{this.id}}/edit">Edit</a>
                                <form class="delete-form" action="/campgrounds/{{cgID this.id}}/comments/{{this.id}}?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                            {{/ifComm}}
                        </div>
                    </div>
                    
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{>footer}}


