{{>header}}
<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-header">
                <h2>{{user.firstName}}&nbsp;{{user.lastName}}</h2>
            </div>
            <img src="{{user.avatar}}" alt="user profile image" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><a href="mailto:{{user.email}}">{{user.email}}</a></h5>
                {{#if user.isAdmin}}
                    <h5>Administrator</h5>
                {{/if}}
            </div>
        </div>
        {{#ifCond req.user._id}}
            <div class="text-center">
                <a class="btn btn-warning mt-4" href="/users/{{user._id}}/edit">Edit Your Profile</a>
            </div>
        {{/ifCond}}
    </div>
    <div class="col-md-8">
        <div class="mt-4 ml-4">
            <h3>{{user.firstName}}'s Campgrounds:</h3>
            <ul>
            {{#each campgrounds}}
                <li><a href="/campgrounds/{{this.id}}">{{this.name}}</a></li>
            {{/each}}
        </div>
    </div>
</div>
{{>footer}}


